/* a {
  text-decoration: none !important;
  color: inherit !important;
} */
.navbar_wrapper a {
  padding-left: 30px;
  text-decoration: none !important;

}

h1 {
  text-align: center;
  margin-top: 30px !important;
}